.profilePage {
  padding-top: 6rem;
  height: 110vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileHeading {
  padding-bottom: 0.5rem;
  border-bottom: 0.5px solid #e2ebef;
  margin-bottom: 2rem;
  font-family: orbitron, sans-serif;
}

.profileSections {
  /* position: relative; */
  width: 45%;
  background-color: #ffffff;
  max-height: 70vh;
  overflow: auto;
  flex-wrap: wrap;

  box-shadow: 0 0.5px 3px 0.05px;
  /* left: 29rem; */
  /* background-color: skyblue; */
}

.profileContent {
  /* background-color: white; */
  /* border-top: 1px solid #e2ebef; */
  margin: 0rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 0;
  gap: 1rem;
  
}

.addNewAddressSpan {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  background-color: black;
  border-radius: 0.2rem;
  > button {
    background-color: black;
    color: white;
    border: none;
    font-size: 1.05rem;
    padding: 0.25rem 0;
    cursor: pointer;
  }
}

.addNewAddress {
  display: flex;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  color: white;
  background-color: rgb(35, 35, 35);
}

.profileNavlinks {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 0.4rem 0rem 0.2rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  color: black;
  font-family: orbitron, sans-serif;
}
.profileNavlinks {
  text-align: center;
  margin: auto;
}

.logOutBtn {
  padding: 0.25rem 0.5rem;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 0.2rem;
}

.addNewAddressModal {
  font-family: orbitron, sans-serif;
  position: fixed;
  top: 10rem;
  width: 50%;
  /* overflow: hidden; */
  /* height: 60vh; */
  display: flex;
  flex-direction: column;
  z-index: 10000000;
  padding: 0.5rem 0.1rem;
  gap: 0.5rem;
  background-color: #e2ebef;
  color: black;
}

.addNewAddressModalButtons {
  display: flex;
  gap: 2rem;
  padding: 0.5rem;
  justify-content: center;
}

.addNewAddressModalButton {
  font-family: orbitron, sans-serif;
  background-color: black;
  color: white;
  padding: 0.25rem;
  cursor: pointer;
}
.profileContentBlur {
  filter: blur(2px);
}

.addNewAddressInput {
  font-family: orbitron, sans-serif;

  margin: 0.25rem 0;
  width: 90%;
  text-align: left;
  padding: 0.2rem;
}

.hideModal {
  display: none;
}

.addressCard {
  border: 2px solid rgb(240, 240, 240);
  display: flex;
  max-height: 23vh;
  overflow: auto;
  width: 15rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.35rem;
  padding: 0.25rem 0.5rem;
}

.addressCardButtons {
  display: flex;
  gap: 0.5rem;
  > button {
    padding: 0.15rem 0.3rem;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-bottom: 0.2rem;
  }
}

.addressList {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  flex-wrap: wrap;
}

.orderHistory {
  padding: 1rem;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  /* background-color: aquamarine; */
  max-height: 70vh;
  gap: 0.75rem;
}

.orderHistoryCard {
  padding: 0 0 0.5rem 0;

  position: relative;
  width: 100%;
  border: 4px solid #e2ebef;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}
.orderDetailsThisThat {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  align-items: flex-start;
  gap: 0.5rem;
  > p {
    font-weight: 700;
    color: rgb(110, 110, 110);
  }
}
.highlightedDetail {
  font-size: 1.1rem;
  color: black;
}

.orderDetailsActualDetails {
  margin: 0 1rem;
  border: 2px solid #e2ebef;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.OrderedProductCard {
  position: relative;
  display: flex;
  width: 100%;
  gap: 2rem;
  /* justify-content: space-evenly; */
  padding: 0.35rem 1rem;
  background-color: #f2f7fb;
}

.orderProductCardDetail {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.25rem;
  > h3 {
    font-size: 1.25rem;
  }
}
