.storePage {
  /* position: relative; */
  padding: 7rem 4rem 9rem;
  min-height: 100vh;
}
.storePage__filtersLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.disableMovement {
  height: 100vh;
  overflow: hidden;
}

.productCount {
  font-family: orbitron, sans-serif;
  font-weight: 700;
  position: absolute;
  top: -2.5rem;
  /* word-spacing: 0.1rem; */
  /* padding: 0 0.25rem; */
  left: 13rem;
  font-size: 1.1rem;
}

.filter {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0.45rem 0.75rem;
  font-size: 1.25rem;
  font-weight: 800;
  border-radius: 0.35rem;
  background-color: #e2ebef;
  cursor: pointer;
}

.sort {
  display: flex;
  /* gap: 1rem; */
  align-items: center;
  padding: 0.45rem 0.75rem;
  font-size: 1.1rem;
  font-weight: 800;
  border-radius: 0.35rem;
  background-color: #e2ebef;
}

.dropdown {
  border: none;
  background-color: #e2ebef;
  cursor: pointer;
  font-size: 1rem;
  padding: 0;
  outline: none;
}

.dropDownElement {
  background-color: #e2ebef;
}

.storePage__content {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content__blur {
  filter: blur(0.75px) opacity(80%);
}

.moveToTopBtn {
  position: fixed;
  bottom: 5rem;
  right: 0.75rem;
  padding: 0.5rem 0.6rem;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
}
